 <div class="splash pure-form">

 <section>
    <p class="splash-subhead">Your Reward Level</p>
    <p class="splash-subhead secondary">You will find this on your contract.</p>

    <p>
      <select ng-model="bonus.selected.level">
      <option value="" disabled selected>Choose your option</option>
      <option ng-repeat="level in bonus.levels" value="{{level}}">{{level}}</option>
    </select>
    </p>
  </section>

 <section ng-show="bonus.selected.level">
    <p class="splash-subhead">Your Performance Rating</p>
    <p class="splash-subhead secondary">Given to you in the last financial year.</p>

    <p>
      <select ng-model="bonus.selected.rating">
      <option value="" disabled selected>Choose your option</option>
      <option ng-repeat="rating in bonus.ratings" value="{{rating}}">{{rating}}</option>
    </select>
    </p>
  </section>

  <section ng-show="bonus.selected.level && bonus.selected.rating">
    <p class="splash-subhead">Your Yearly Salary</p>
    <p class="splash-subhead secondary">Not inclusive of location premium.</p>

    <p>
      <input ng-model="bonus.selected.salary" ng-model-options="{debounce: 300}">
    </select>
    </p>
  </section>

 
<table class="pure-table results-table" ng-show="bonus.selected.level && bonus.selected.rating">
    <thead>
        <tr>
            <th>Maximum Target</th>
            <th>Min / Local Target</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td ng-repeat="result in bonus.results | filter: {level: bonus.selected.level} | filter: {rating: bonus.selected.rating}">{{result.score}}%</td>
        </tr>

        <tr ng-show="bonus.selected.salary">
          <td ng-repeat="result in bonus.results | filter: {level: bonus.selected.level} | filter: {rating: bonus.selected.rating}">  {{bonus.selected.salary * result.score / 100 | currency:"£"}}</td>
        </tr>

    
    </tbody>
</table>