 <div class="splash pure-form">

 <section>
    <p class="splash-subhead">Reward Level</p>
    <p class="splash-subhead secondary">You will find this on your contract.</p>

    <p>

    <ul class="switch-field switch-field-horizontal">
      <li class="inner" ng-repeat="level in bonus.levels">
        <input ng-model="selected.level" type="radio" id="{{level}}" name="level" value="{{level}}" checked/>
        <label for="{{level}}">{{level}}</label>
      </li>
    </ul>



    </p>
  </section>

 <section ng-show="selected.level">
    <p class="splash-subhead">Performance Rating</p>
    <p class="splash-subhead secondary">For the Year 2015/2016.</p>

    <p>

      <ul class="switch-field switch-field-vertical">
        <li class="inner" ng-repeat="rating in bonus.ratings">
          <input ng-model="selected.rating" type="radio" id="{{rating}}" name="rating" value="{{rating}}" checked/>
          <label for="{{rating}}">{{rating}}</label>
        </li>
      </ul>


    </p>
  </section>

  <section ng-show="selected.level && selected.rating">
    <p class="splash-subhead">BASE Salary</p>
    <p class="splash-subhead secondary">Not inclusive of location premium, car allowance and other premiums.</p>

    <p>
      <input ng-model="selected.salary" ng-model-options="{debounce: 300}">
    </p>
  </section>

<section>
  <table class="pure-table results-table" ng-if="selected.level && selected.rating">
    <thead>
      <tr>
        <th>Your Bonus will be</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td ng-repeat="result in filteredResults = (bonus.results | filter: filterResult(selected.rating, selected.level))">
          {{result.score}}%</td>
        </tr>

        <tr ng-show="selected.salary">
          <td ng-repeat="result in filteredResults">
            {{result.money | currency:"£"}}
          </td>
        </tr>


      </tbody>
    </table>
  
</section>
