<div class="splash home">
    <h1 class="splash-head">Calculate<br> your 2016 Bonus</h1>
    <p class="splash-subhead">
        What can you expect from this year's M&S Bonus?
    </p>
    <p class="splash-subhead secondary">
      More info on <a href="https://mnscorp.sharepoint.com/sites/mnsworld/Documents/Full%20Year%202016/Annual%20Bonus%202015%2016%20Announcement%20%20QAs%201%20-%20FINAL.pdf" class="external" title="Sharepoint">Sharepoint</a>
    </p>
    <p>
        <a ui-sref="calculate" class="pure-button pure-button-primary">Get Started</a>
    </p>
</div>
